
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


$softBlue:hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$vdBlueMain:hsl(217, 54%, 11%);
$vdBlueCard:hsl(216, 50%, 16%);
$vdBlueLine:hsl(215, 32%, 27%);
$white:hsl(0, 0%, 100%);
$outfit: 'Outfit', sans-serif;